In [1]:
import pandas as pd
import json
import pymysql
import re
import pymysql
import sqlalchemy
import numpy as np
from pandas import DataFrame,Series

# connect mysql

In [2]:
con=pymysql.connect(host='127.0.0.1',port=3306,user='root',db='assign3', charset = "utf8mb4") #connect mysql 和python with pymysql
cursor=con.cursor()
yconnect=sqlalchemy.create_engine('mysql+pymysql://root:@127.0.0.1:3306/assign3?charset=utf8')
def sql_to_df(sql_query):
    df=pd.read_sql(sql_query,con)
    return df

In [3]:
totall_exam=pd.read_csv('all_in_totall.csv')
#pd.io.sql.to_sql(totall_exam,'totall_exam', yconnect, schema='assign3')

## 1.Select columns

In [4]:
query='''

SELECT time FROM totall_exam

'''
sql_to_df(query)

         time
0     2:55:02
1     3:01:56
2     3:01:56
3     3:02:10
4     3:05:16
5     3:07:08
6     3:13:31
7     3:17:35
8     3:18:06
9     3:23:05
10    3:30:36
11    3:33:08
12    3:35:02
13    3:46:32
14    3:48:05
15    3:57:28
16    4:03:10
17    4:05:02
18    4:09:28
19    4:14:54
20    4:18:06
21    4:19:29
22    4:19:43
23    4:23:24
24    4:26:59
25    4:30:40
26    4:31:44
27    4:33:06
28    4:34:22
29    4:34:46
..        ...
342  12:00:53
343  12:03:54
344  12:04:54
345  12:05:46
346  12:06:51
347  12:10:44
348  12:11:59
349  12:12:05
350  12:14:35
351  12:15:05
352  12:15:14
353  12:15:24
354  12:17:00
355  12:19:19
356  12:19:50
357  12:21:47
358  12:22:21
359  12:22:28
360  12:26:24
361  12:26:36
362  12:27:15
363  12:28:40
364  12:30:30
365  12:34:20
366  12:35:03
367  12:35:07
368  12:36:33
369  12:45:40
370  12:50:52
371  12:52:44

[372 rows x 1 columns]

## 2.Filter rows

In [5]:
query='''
SELECT * FROM totall_exam
WHERE url!='null'

'''
sql_to_df(query)

,index,created_time,time,Id,Text,screen_name,location,url,followers_count,favourites_count,retweet_count
0,0,Tue Apr 10,2:55:02,9.840000e+17,POL\u00c9MICA Dani Alves intenta convencer a R...,PlanetLiga,Espa\u00f1a,http:\/\/netliga.com,70196,111,146
1,2,Tue Apr 10,3:01:56,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,OGCespSag,Concepci\u00f3n - Yumbel,http:\/\/instagram.com\/ogcespsag,1586,5486,678
2,3,Tue Apr 10,3:02:10,9.840000e+17,Miss Dani so much :\/ https:\/\/t.co\/tkUE06Iw...,Barca_fanatica,New York NY,https:\/\/www.pornhub.com\/view_video.php?view...,60,9980,646
3,8,Tue Apr 10,3:18:06,9.840000e+17,Los misteriosos moratones de Joana Sanz la es...,Mundo_Emelec,Guayaquil Ecuador.,http:\/\/www.emelec.com.ec\/,16745,221,148
4,12,Tue Apr 10,3:35:02,9.840000e+17,La respuesta de Pel\u00e9 a la burla de Dani A...,Futbol_Espanol,Espa\u00f1a,http:\/\/netliga.com,256360,24,2
5,13,Tue Apr 10,3:46:32,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,moeslich_sahoed,Salafiyah Kajen Pati - Undip,http:\/\/sintesisposterioriopinidariakalsehat....,100,320,34
6,18,Tue Apr 10,4:09:28,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Nina_SB_Yone,Venezuela,http:\/\/www.facebook.com\/profile.php?id=1153...,1053,5,1
7,27,Tue Apr 10,4:33:06,9.840000e+17,Los misteriosos moratones de Joana Sanz la esp...,BDP_emelec,Ecuador - Guayaquil,http:\/\/www.emelec.com.ec,34718,231,67
8,29,Tue Apr 10,4:34:46,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,aifosatir,Rende IT,https:\/\/instagram.com\/aifosatir_\/,2261,157,91
9,36,Tue Apr 10,5:00:06,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,finoallafine32j,abbonato Juve dal 1987,http:\/\/www.Udine5Maggio2002presente.it,1129,876,119
10,38,Tue Apr 10,5:05:53,9.840000e+17,11 de la noche y estoy pensando en lo incre\u0...,mmelchui,null,http:\/\/www.instagram.com\/mmelchui,1183,584,120
11,61,Tue Apr 10,6:23:56,9.840000e+17,Gianluigi Buffon.\nObviously.,MeiDitte,Indonesia,http:\/\/su9aaar.blogspot.com\/,180,73,17
12,64,Tue Apr 10,6:27:52,9.840000e+17,RT @Titimadness: Quand Lo Celso va faire toute...,FootAlternative,null,http:\/\/www.alterfoot-mercato.com,632,23,3
13,69,Tue Apr 10,6:39:31,9.840000e+17,@Nerazzurri_Ale Kok menurut gw Cancelo ini leb...,BramRizaldi,Bandar Lampung,http:\/\/geobeneamata.blogspot.com\/,381,194,188
14,74,Tue Apr 10,6:49:53,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,juvefrcom,France,http:\/\/Juve-fr.com,1,1,0
15,77,Tue Apr 10,7:03:28,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,HomeMantilla23,San Crist\u00f3bal de la Laguna,http:\/\/Instagram.com\/homegram18,725,12063,234
16,79,Tue Apr 10,7:04:35,9.840000e+17,RT @ juventusfc \RT ChampionsLeague,fifa15reviews,null,http:\/\/www.fifa15news.net,2772,11,4
17,84,Tue Apr 10,7:18:26,9.840000e+17,#Genoa goalkeeper Mattia Perin says \u201cit\u...,footballitalia,null,http:\/\/www.football-italia.net\/,166014,78,7
18,87,Tue Apr 10,7:25:10,9.840000e+17,in a way he\u2019s right. The competition isn\...,valtscalcio,null,https:\/\/medium.com\/@valtscalcio,128,705,21
19,90,Tue Apr 10,7:36:19,9.840000e+17,RT @Jaymin6879: @TheBarcelonaPod Alves signifi...,Lebo_Lytz,Springs South Africa,http:\/\/www.facebook.com\/rioter.lytz,3148,3711,212
20,95,Tue Apr 10,7:49:20,9.840000e+17,RT @Titimadness: Quand Lo Celso va faire toute...,TheLayover_,The Last House on the Left,http:\/\/instagram.com\/thelayover_,1877,539,121
21,97,Tue Apr 10,7:50:44,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,DiTullioTifoso,Albertville,https:\/\/www.facebook.com\/TaxiJeanMichel,775,4222,1343
22,98,Tue Apr 10,7:52:10,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,TaxiDiTullio,Albertville Rh\u00f4ne-Alpes,http:\/\/www.albertvilletaxiditullio.fr,1112,3396,546
23,101,Tue Apr 10,7:55:51,9.840000e+17,RT @Titimadness: Quand Lo Celso va faire toute...,FatMat91HD,null,http:\/\/www.youtube.com\/FatMat91HD,81148,1175,212
24,109,Tue Apr 10,7:57:59,9.840000e+17,RT @Titimadness: Quand Lo Celso va faire toute...,lakersix,Paris,https:\/\/www.instagram.com\/lakersix\/,1554,1345,134
25,117,Tue Apr 10,8:02:26,9.840000e+17,PSG : Meunier esp\u00e8re rester mais... - htt...,LesTransferts,France,http:\/\/www.les-transferts.com,8024,839,454
26,123,Tue Apr 10,8:04:07,9.840000e+17,RT @Titimadness: Quand Lo Celso va faire toute...,El_Groms,Loin,https:\/\/curiouscat.me\/768197131165282304,242,2628,1131
27,124,Tue Apr 10,8:04:21,9.840000e+17,Los 5 mejores porteros del mundo seg\u00fan T...,bet365_es,null,http:\/\/www.bet365.es,113925,1043,1261
28,127,Tue Apr 10,8:05:17,9.840000e+17,RT @Titimadness: Quand Lo Celso va faire toute...,MelvinNvrsII,R.I.P Mossab & Evan \ud83d\ude4f\ud83c\udffe,http:\/\/www.curiouscat.me\/rashford243,342,39865,3411
29,131,Tue Apr 10,8:07:14,9.840000e+17,bet365_es: Los 5 mejores porteros del mundo s...,CADeportivas,Internet,http:\/\/casasdeapuestasdeportivas.net,153,0,1
...,...,...,...,...,...,...,...,...,...,...,...
55,204,"""Tue Apr 10",9:14:43,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""LucaMaritano""","""Grugliasco ""","""http:\/\/www.facebook.com\/profile.php?id=151...",222,22622,2432
56,212,"""Tue Apr 10",9:20:26,9.840000e+17,"""RT @Mahadsssss: living legend \u2665\ufe0f ht...","""IzwanAJK""","""Labuan Federal Territory""","""http:\/\/de.fifa.com\/worldcup""",48,1305,242
57,214,"""Tue Apr 10",9:21:29,9.840000e+17,"""Dani Alves is the best right back ever. No on...",screen_name:null,"""Los Angeles""","""http:\/\/www.ultimodiez.fr""",87,24,12
58,215,"""Tue Apr 10",9:24:11,9.840000e+17,"""RT @fifaworldcup_de: @mterstegen1 hat seine f...","""fifacom_de""",null,"""http:\/\/de.fifa.com\/""",55,3242,1232
59,220,"""Tue Apr 10",9:26:53,9.840000e+17,"""@mterstegen1 hat seine f\u00fcnf Toptorh\u00f...","""fifaworldcup_de""",null,"""http:\/\/de.fifa.com\/worldcup""",567567,35476,1237
60,223,"""Tue Apr 10",9:28:56,9.840000e+17,"""Per qu\u00e8 el @NachoSanahuja ha sabut des d...","""elmonarac1""",null,"""http:\/\/www.rac1.cat\/elmon""",243357,35523,6731
61,226,"""Tue Apr 10",9:30:51,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Phyasso""","""Paris XIII. ""","""http:\/\/Instagram.com\/sophiadhouioui""",164,9476,7329
62,227,"""Tue Apr 10",9:30:52,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""AliouneMatuidi""","""Groove Street""","""https:\/\/www.instagram.com\/Roronoa._\/""",458,10538,1297
63,234,"""Tue Apr 10",9:34:37,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""afellay_93""","""Paris""","""http:\/\/www.ultimodiez.fr""",32434,54,12
64,237,"""Tue Apr 10",9:37:30,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""__Buonepsg""",null,"""http:\/\/www.ultimodiez.fr""",190,11534,876
65,240,"""Tue Apr 10",9:44:54,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Hakim_psg""",null,"""http:\/\/www.soundcloud.com\/khutjo_r""",318,1964,672
66,251,"""Tue Apr 10",9:49:57,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""yassgrosmort""","""Chartres""","""http:\/\/uefa.com\/uefachampionsleague""",32443,6657,213
67,253,"""Tue Apr 10",9:51:40,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""ogabhellohofybc""","""Lagos""","""http:\/\/uefa.com\/uefachampionsleague""",4316,5721,234
68,257,"""Tue Apr 10",9:54:29,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Valentin_Goy""","""Parc des princes""","""http:www.facebook.TFRE/6890.com""",24567,84,41
69,265,"""Tue Apr 10",10:01:29,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""TresTchatcheure""","""Trouy""","nce""",565,67,12
70,269,"""Tue Apr 10",10:05:17,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""jerem93290""","""Paris""","""https:\/\/www.youtube.com\/channel\/UCI0J1wyJ...",3696,147943,8764
71,277,"""Tue Apr 10",10:15:04,9.840000e+17,"""La \u00faltima tonter\u00eda de Dani Alves en...","""GoleadorFutbol""","""Houston""","""https:\/\/twitter.com\/Titimadness\/status\/9...",89,11834,873
72,284,"""Tue Apr 10",10:25:55,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Harley_Messame""","""Nantes""","""http:\/\/www.facebook.com\/harley.messame""",149,720,207
73,285,"""Tue Apr 10",10:27:11,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""DealedAT""","""Planete Vegeta""","""http:\/\/74clebarca.fr""",3,67,23
74,288,"""Tue Apr 10",10:33:37,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Eddie_Rhd""","""mtd""","""https:\/\/soundcloud.com\/i-have-no-id""",167,5308,1234
75,292,"""Tue Apr 10",10:38:51,9.840000e+17,"""RT @ChampionsLnet: Dani Alves y David Luiz co...","""TodoFutbolAqui""",null,"""http:\/\/netliga.com""",80,9,2
76,305,"""Tue Apr 10",10:55:14,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""MrKindius""","""Konoha & North blue""","""http:\/\/uefa.com\/uefachampionsleague""",7,46,32
77,318,"""Tue Apr 10",11:21:08,9.840000e+17,"""RT @elmonarac1: Per qu\u00e8 el @NachoSanahuj...","""NachoSanahuja""","""Barcelona - Upper Diagonal""","""http:\/\/Instagram.com\/sanahujamaristany""",8,4356,354
78,320,"""Tue Apr 10",11:22:27,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""ElFlacinho92""","""Parc des princes""","""http:\/\/Parisestmagique.com""",261,988,232
79,330,"""Tue Apr 10",11:41:12,9.840000e+17,"""a l\u2019ancienne je voulais \u00eatre comme ...","""JnrAlvees""","""j'sais pas gros""","""http:\/\/uefa.com\/uefachampionsleague""",270,1507,433
80,342,"""Tue Apr 10",12:00:53,9.840000e+17,"""Luka Modric on Arsenal\u2019s radar #realmadr...","""dominospace""","""Akure""","""http:\/\/pbs.twimg.com\/media\/DaVo--AX0AACtw...",78,5,0
81,349,"""Tue Apr 10",12:12:05,9.840000e+17,"""RT @fifaworldcup_de: .@mterstegen1 hat seine ...","""fifacom_de""",null,"""http:\/\/de.fifa.com\/""",55,43,34
82,350,"""Tue Apr 10",12:14:35,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""progatzz""","""Toronto\/Oakville""","""http:\/\/uefa.com\/uefachampionsleague""",242,2376,245
83,364,"""Tue Apr 10",12:30:30,9.840000e+17,"""Su influencia ofensiva es comparable a la de ...","""Kaneda_Alonso""","""Zamora""","""https:\/\/www.apuestas-deportivas.es\/noticia...",126,11,1
84,370,"""Tue Apr 10",12:50:52,9.840000e+17,"""@choc0game \u00c7a dep si on parle au jour d'...","""chinres""",null,"""http:\/\/uefa.com\/uefachampionsleague""",678,43,23

In [6]:
query='''
SELECT * FROM totall_exam

'''
sql_to_df(query)

,index,created_time,time,Id,Text,screen_name,location,url,followers_count,favourites_count,retweet_count
0,0,Tue Apr 10,2:55:02,9.840000e+17,POL\u00c9MICA Dani Alves intenta convencer a R...,PlanetLiga,Espa\u00f1a,http:\/\/netliga.com,70196,111,146
1,1,Tue Apr 10,3:01:56,9.840000e+17,Hasta parece que S\u00e1nchez es Dani Alves en...,Huugoo90,null,null,242,3376,221
2,2,Tue Apr 10,3:01:56,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,OGCespSag,Concepci\u00f3n - Yumbel,http:\/\/instagram.com\/ogcespsag,1586,5486,678
3,3,Tue Apr 10,3:02:10,9.840000e+17,Miss Dani so much :\/ https:\/\/t.co\/tkUE06Iw...,Barca_fanatica,New York NY,https:\/\/www.pornhub.com\/view_video.php?view...,60,9980,646
4,4,Tue Apr 10,3:05:16,9.840000e+17,RT @RealEspartaB: \ud83c\udfcb\ufe0f \n\nEntre...,ericperu,null,null,1053,56821,1123
5,5,Tue Apr 10,3:07:08,9.840000e+17,Los misteriosos moratones de Joana Sanz la es...,Mundo_Sports,null,null,14189,232,150
6,6,Tue Apr 10,3:13:31,9.840000e+17,RT @OraliaOnetti: Sobre los precios de boletos...,JosesilloV,Guadalajara Jalisco,null,799,2801,321
7,7,Tue Apr 10,3:17:35,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,cheobravo,Maracaibo-Venezuela,null,239,14644,232
8,8,Tue Apr 10,3:18:06,9.840000e+17,Los misteriosos moratones de Joana Sanz la es...,Mundo_Emelec,Guayaquil Ecuador.,http:\/\/www.emelec.com.ec\/,16745,221,148
9,9,Tue Apr 10,3:23:05,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,AnnibaleMicheli,Brescia,null,73,1123,232
10,10,Tue Apr 10,3:30:36,9.840000e+17,Okay how sick would it be if I had Luka Donci...,tiffftripp,Sandy UT,null,830,796,213
11,11,Tue Apr 10,3:33:08,9.840000e+17,Los misteriosos moratones de Joana Sanz la es...,Prensa_Emelec,null,null,13792,3,0
12,12,Tue Apr 10,3:35:02,9.840000e+17,La respuesta de Pel\u00e9 a la burla de Dani A...,Futbol_Espanol,Espa\u00f1a,http:\/\/netliga.com,256360,24,2
13,13,Tue Apr 10,3:46:32,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,moeslich_sahoed,Salafiyah Kajen Pati - Undip,http:\/\/sintesisposterioriopinidariakalsehat....,100,320,34
14,14,Tue Apr 10,3:48:05,9.840000e+17,Los misteriosos moratones de Joana Sanz la es...,Todoscon_Emelec,null,null,10566,224,56
15,15,Tue Apr 10,3:57:28,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,JamalHabsy,Indonesia,null,1280,104,78
16,16,Tue Apr 10,4:03:10,9.840000e+17,Los misteriosos moratones de Joana Sanz la es...,Web Emelec,null,null,9650,221,78
17,17,Tue Apr 10,4:05:02,9.840000e+17,Dani Alves y David Luiz consuelan a James tras...,ChampionsLnet,Contacto: tuitfutbol@gmail.com,null,99964,118,50
18,18,Tue Apr 10,4:09:28,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Nina_SB_Yone,Venezuela,http:\/\/www.facebook.com\/profile.php?id=1153...,1053,5,1
19,19,Tue Apr 10,4:14:54,9.840000e+17,RT @bet365: With more than 1000 career appeara...,BI1897,England United Kingdom,null,261,1311,111
20,20,Tue Apr 10,4:18:06,9.840000e+17,Los misteriosos moratones de Joana Sanz la esp...,LosDeSiempreCSE,null,null,13670,365,342
21,21,Tue Apr 10,4:19:29,9.840000e+17,RT @bet365: With more than 1 la esposa de Dani...,MonicaLauriola,Toronto Ontario,null,988,524,155
22,22,Tue Apr 10,4:19:43,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,FrankJRonald,Gallipoli,null,62,1456,243
23,23,Tue Apr 10,4:23:24,9.840000e+17,I've created a swap request for my PANINI STIC...,67Sherif,qatar,null,52,2131,924
24,24,Tue Apr 10,4:26:59,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,lintu95,null,null,1572,1550,157
25,25,Tue Apr 10,4:30:40,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,samaseto8f,San Francisco,null,105,66,24
26,26,Tue Apr 10,4:31:44,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,FrankJRonald,Gallipoli,null,62,225,34
27,27,Tue Apr 10,4:33:06,9.840000e+17,Los misteriosos moratones de Joana Sanz la esp...,BDP_emelec,Ecuador - Guayaquil,http:\/\/www.emelec.com.ec,34718,231,67
28,28,Tue Apr 10,4:34:22,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,AleTznMC8,Frosinone Lazio,null,390,2189,229
29,29,Tue Apr 10,4:34:46,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,aifosatir,Rende IT,https:\/\/instagram.com\/aifosatir_\/,2261,157,91
...,...,...,...,...,...,...,...,...,...,...,...
342,342,"""Tue Apr 10",12:00:53,9.840000e+17,"""Luka Modric on Arsenal\u2019s radar #realmadr...","""dominospace""","""Akure""","""http:\/\/pbs.twimg.com\/media\/DaVo--AX0AACtw...",78,5,0
343,343,"""Tue Apr 10",12:03:54,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""mhmmdnrhdyt_104""","""Wisconsin""",null,90,456,43
344,344,"""Tue Apr 10",12:04:54,9.840000e+17,"""Zinedine Zidane","""wizzk""","""Boston""",null,55,427,23
345,345,"""Tue Apr 10",12:05:46,9.840000e+17,"""@matteriders @forumJuventus Come con De Scigl...","""show""","""Cardiff""",null,22,754,67
346,346,"""Tue Apr 10",12:06:51,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""JibrilAkimZer""","""Paris Saint Germain""",null,141,245,33
347,347,"""Tue Apr 10",12:10:44,9.840000e+17,"""@mterstegen1 hat seine f\u00fcnf Toptorh\u00f...","""wait""",null,null,23,44,12
348,348,"""Tue Apr 10",12:11:59,9.840000e+17,""".@mterstegen1 hat seine f\u00fcnf Toptorh\u00...","""GO1111""",null,null,45,5,6
349,349,"""Tue Apr 10",12:12:05,9.840000e+17,"""RT @fifaworldcup_de: .@mterstegen1 hat seine ...","""fifacom_de""",null,"""http:\/\/de.fifa.com\/""",55,43,34
350,350,"""Tue Apr 10",12:14:35,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""progatzz""","""Toronto\/Oakville""","""http:\/\/uefa.com\/uefachampionsleague""",242,2376,245
351,351,"""Tue Apr 10",12:15:05,9.840000e+17,"""@ChampionsLeague Gianluigi buffon""","""ho_qq""",null,null,67,3,0
352,352,"""Tue Apr 10",12:15:14,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""JdNyemb""","""Chatou \/ Palaiseau""",null,1425,2,4
353,353,"""Tue Apr 10",12:15:24,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""IzadinTarzi19""",null,null,1072,77015,3543
354,354,"""Tue Apr 10",12:17:00,9.840000e+17,"""\""I've unlimited admiration for Cristiano Ron...","""6_qasde""","""Leeds""",None,2,45,23
355,355,"""Tue Apr 10",12:19:19,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""pawcksn_""","""Kendal""",null,2,54,52
356,356,"""Tue Apr 10",12:19:50,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""ElflacoHamza""",null,null,31,677,433
357,357,"""Tue Apr 10",12:21:47,9.840000e+17,"""Creo que ma\u00f1ana deberia de salir ovacion...",None,null,null,23,2,0
358,358,"""Tue Apr 10",12:22:21,9.840000e+17,"""RT @BramRizaldi: @Nerazzurri_Ale Kok menurut ...","""Toejex""",null,null,48,1891,345
359,359,"""Tue Apr 10",12:22:28,9.840000e+17,"""RT @EA_FIFA_France: De Gea","""sklhksjgcsbx""","""London""",null,24,33,11
360,360,"""Tue Apr 10",12:26:24,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Abel_SSJ""","""Old Traford""",null,209,930,563
361,361,"""Tue Apr 10",12:26:36,9.840000e+17,"""Alles klar. Kann ich nicht unterstreichen. Ab...","""qqjsjdywz""",null,null,56,4,1
362,362,"""Tue Apr 10",12:27:15,9.840000e+17,"""RT @FootbalIStuff: Lionel Messi &amp; Dani Alves","""go_py""",null,null,33,5,3
363,363,"""Tue Apr 10",12:28:40,9.840000e+17,"""@brfootball Dani Alves""","""yo_hoho""",null,null,87,59,32
364,364,"""Tue Apr 10",12:30:30,9.840000e+17,"""Su influencia ofensiva es comparable a la de ...","""Kaneda_Alonso""","""Zamora""","""https:\/\/www.apuestas-deportivas.es\/noticia...",126,11,1
365,365,"""Tue Apr 10",12:34:20,9.840000e+17,"""Was hat Ederson da zu suchen? https:\/\/t.co\...","""yes_97""","""Beijing""",null,66,23,8
366,366,"""Tue Apr 10",12:35:03,9.840000e+17,"""Dani Alves makes it 2-1 https:\/\/t.co\/rZbtH...","""soccer0vine""",null,null,462,1670,23
367,367,"""Tue Apr 10",12:35:07,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""abdulkarimbaba8""",null,null,123,9196,434
368,368,"""Tue Apr 10",12:36:33,9.840000e+17,"""\u0433\u0443\u0431\u0430 \u043d\u0435 \u0434\...","""yooho_tee""","""Japan""",null,94,123,46
369,369,"""Tue Apr 10",12:45:40,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""mimsxl""","""Paris""",null,1187,234,246
370,370,"""Tue Apr 10",12:50:52,9.840000e+17,"""@choc0game \u00c7a dep si on parle au jour d'...","""chinres""",null,"""http:\/\/uefa.com\/uefachampionsleague""",678,43,23
371,371,"""Tue Apr 10",12:52:44,9.840000e+17,"""For me the best GK I've seen on TV or live. I...","""DG_keen""",null,null,112,445,234

## 3.Sort your query

In [7]:
query='''
SELECT retweet_count FROM totall_exam
ORDER BY retweet_count DESC
'''
sql_to_df(query)

     retweet_count
0            11321
1             9887
2             8767
3             8764
4             7851
5             7675
6             7329
7             6731
8             6713
9             6576
10            6556
11            6546
12            5454
13            5452
14            4554
15            4518
16            3543
17            3412
18            3411
19            3245
20            3241
21            2481
22            2432
23            2421
24            2345
25            2342
26            2342
27            2311
28            2131
29            2131
..             ...
342              2
343              2
344              2
345              2
346              2
347              2
348              2
349              1
350              1
351              1
352              1
353              1
354              1
355              1
356              1
357              1
358              1
359              0
360              0
361              0
362              0
363              0
364              0
365              0
366              0
367              0
368              0
369              0
370              0
371              0

[372 rows x 1 columns]

## 4.Group by an  an attribute

In [8]:
query='''
SELECT AVG(followers_count), url FROM totall_exam
 GROUP BY
 (CASE
  WHEN
      url != 'null'
  THEN 
      'with URL'
  ELSE
      'without URL'
  END
 )
'''
sql_to_df(query)

   AVG(followers_count)                   url
0          20005.917647  http:\/\/netliga.com
1          42184.564460                  null

## 5.Calculate an aggregate function on an attribute of the group.

In [9]:
query='''
SELECT MAX(retweet_count) FROM totall_exam
'''
sql_to_df(query)

   MAX(retweet_count)
0               11321

## 6.Use DISTINCT keyword will make it so it only returns one instance of each attribute.

In [10]:
query='''
SELECT DISTINCT (location) FROM totall_exam
'''
sql_to_df(query)

                           location
0                       Espa\u00f1a
1                              null
2          Concepci\u00f3n - Yumbel
3                       New York NY
4               Guadalajara Jalisco
5               Maracaibo-Venezuela
6                Guayaquil Ecuador.
7                           Brescia
8                          Sandy UT
9      Salafiyah Kajen Pati - Undip
10                       Indonesia
11   Contacto: tuitfutbol@gmail.com
12                        Venezuela
13           England United Kingdom
14                  Toronto Ontario
15                        Gallipoli
16                            qatar
17                    San Francisco
18             Ecuador - Guayaquil
19                  Frosinone Lazio
20                        Rende IT
21                          Memphis
22                  Planeta da Bola
23           Buenos Aires Argentina
24                    Palermo Italy
25                   ig:dmattioli10
26           abbonato Juve dal 1987
27                      M\u00e9xico
28                          Jakarta
29                  Highway To Hell
..                              ...
198                        "Alaska"
199           "Konoha & North blue"
200                    "Water Town"
201                  "LH \/ Paris "
202                         "Venise
203                       "Roubaix"
204                 "Auteuil Rouge"
205                      "Le Havre"
206                         "Asaba"
207    "Barcelona - Upper Diagonal"
208                     "Maracaibo"
209                         "Dover"
210                        "Lincon"
211               "j'sais pas gros"
212                      "du 100-8"
213                        "Konoha"
214                         "Cergy"
215                       "Jackson"
216                         "Leeds"
217                        "Exeter"
218                         "Akure"
219                     "Wisconsin"
220                       "Cardiff"
221           "Paris Saint Germain"
222             "Toronto\/Oakville"
223           "Chatou \/ Palaiseau"
224                        "Kendal"
225                   "Old Traford"
226                        "Zamora"
227                       "Beijing"

[228 rows x 1 columns]

## 7.Create a column that is calculated from other columns.

In [11]:
query='''
SELECT *, SUM(retweet_count) AS OVERALL_retweet_count FROM totall_exam
'''
sql_to_df(query)

,index,created_time,time,Id,Text,screen_name,location,url,followers_count,favourites_count,retweet_count,OVERALL_retweet_count
0,0,Tue Apr 10,2:55:02,9.840000e+17,POL\u00c9MICA Dani Alves intenta convencer a R...,PlanetLiga,Espa\u00f1a,http:\/\/netliga.com,70196,111,146,247057.0

## 8.Count all of the null values in a nullable field.

In [12]:
query='''
SELECT count(*) AS 'null' FROM totall_exam
WHERE text IS NULL
'''
sql_to_df(query)

   null
0     0

## 9.In a text field count all of rows in the columns that contain the letter 'a'.

In [13]:
query='''
SELECT count(*) FROM totall_exam
WHERE screen_name LIKE '%a%'
'''
sql_to_df(query)

   count(*)
0       227

## 10.Subselect columns using a subquery.

In [14]:
query='''
SELECT *
FROM (
        SELECT * FROM totall_exam
        WHERE followers_count >1000
    )totall_exam
WHERE retweet_count >500

'''
sql_to_df(query)

,index,created_time,time,Id,Text,screen_name,location,url,followers_count,favourites_count,retweet_count
0,2,Tue Apr 10,3:01:56,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,OGCespSag,Concepci\u00f3n - Yumbel,http:\/\/instagram.com\/ogcespsag,1586,5486,678
1,4,Tue Apr 10,3:05:16,9.840000e+17,RT @RealEspartaB: \ud83c\udfcb\ufe0f \n\nEntre...,ericperu,null,null,1053,56821,1123
2,98,Tue Apr 10,7:52:10,9.840000e+17,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,TaxiDiTullio,Albertville Rh\u00f4ne-Alpes,http:\/\/www.albertvilletaxiditullio.fr,1112,3396,546
3,124,Tue Apr 10,8:04:21,9.840000e+17,Los 5 mejores porteros del mundo seg\u00fan T...,bet365_es,null,http:\/\/www.bet365.es,113925,1043,1261
4,125,Tue Apr 10,8:04:35,9.840000e+17,RT @Titimadness: Quand Lo Celso va faire toute...,MTouups,null,null,1118,18310,2131
5,170,Tue Apr 10,8:46:39,9.840000e+17,Gianluigi Buffon pour une relation stable soli...,Institubeur,Ile de France,https:\/\/www.youtube.com\/channel\/UCVcXYvmry...,1040,51012,2342
6,193,"""Tue Apr 10",9:09:11,9.840000e+17,"""RT @fifaworldcup_de: @mterstegen1 hat seine f...","""fifacom_de""",null,"""http:\/\/de.fifa.com\/""",5656,32423,1200
7,220,"""Tue Apr 10",9:26:53,9.840000e+17,"""@mterstegen1 hat seine f\u00fcnf Toptorh\u00f...","""fifaworldcup_de""",null,"""http:\/\/de.fifa.com\/worldcup""",567567,35476,1237
8,223,"""Tue Apr 10",9:28:56,9.840000e+17,"""Per qu\u00e8 el @NachoSanahuja ha sabut des d...","""elmonarac1""",null,"""http:\/\/www.rac1.cat\/elmon""",243357,35523,6731
9,224,"""Tue Apr 10",9:29:46,9.840000e+17,"""RT @KhutjoR: @ThanyaniR_ @Lati_91 @FigoMadrid...","""JackMogoswanej""","""Pretoria""",null,65567,23432,9887
10,268,"""Tue Apr 10",10:04:50,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""xoftenn""","""heja bvb""",null,1246,18149,875
11,269,"""Tue Apr 10",10:05:17,9.840000e+17,"""RT @Titimadness: Quand Lo Celso va faire tout...","""jerem93290""","""Paris""","""https:\/\/www.youtube.com\/channel\/UCI0J1wyJ...",3696,147943,8764
12,353,"""Tue Apr 10",12:15:24,9.840000e+17,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""IzadinTarzi19""",null,null,1072,77015,3543

## 11.Computationally what is the most expensive operation in the relational data model?

###### JOIN is the most expensive operation

In [16]:
query='''
SELECT text, location, followers_count, favourites_count,location
FROM dataset1
JOIN dataset2
ON dataset1.screen_name = dataset2.screen_name

'''
sql_to_df(query)

,text,location,followers_count,favourites_count,location
0,POL\u00c9MICA Dani Alves intenta convencer a R...,Espa\u00f1a,70196,111,Espa\u00f1a
1,Hasta parece que S\u00e1nchez es Dani Alves en...,null,242,3376,null
2,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Concepci\u00f3n - Yumbel,1586,5486,Concepci\u00f3n - Yumbel
3,Miss Dani so much :\/ https:\/\/t.co\/tkUE06Iw...,New York NY,60,9980,New York NY
4,RT @RealEspartaB: \ud83c\udfcb\ufe0f \n\nEntre...,null,1053,56821,null
5,Los misteriosos moratones de Joana Sanz la es...,null,14189,232,null
6,RT @OraliaOnetti: Sobre los precios de boletos...,Guadalajara Jalisco,799,2801,Guadalajara Jalisco
7,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Maracaibo-Venezuela,239,14644,Maracaibo-Venezuela
8,Los misteriosos moratones de Joana Sanz la es...,Guayaquil Ecuador.,16745,221,Guayaquil Ecuador.
9,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Brescia,73,1123,Brescia
10,Okay how sick would it be if I had Luka Donci...,Sandy UT,830,796,Sandy UT
11,Los misteriosos moratones de Joana Sanz la es...,null,13792,3,null
12,La respuesta de Pel\u00e9 a la burla de Dani A...,Espa\u00f1a,256360,24,Espa\u00f1a
13,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Salafiyah Kajen Pati - Undip,100,320,Salafiyah Kajen Pati - Undip
14,Los misteriosos moratones de Joana Sanz la es...,null,10566,224,null
15,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Indonesia,1280,104,Indonesia
16,Los misteriosos moratones de Joana Sanz la es...,null,9650,221,null
17,Dani Alves y David Luiz consuelan a James tras...,Contacto: tuitfutbol@gmail.com,99964,118,Contacto: tuitfutbol@gmail.com
18,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Venezuela,1053,5,Venezuela
19,RT @bet365: With more than 1000 career appeara...,England United Kingdom,261,1311,England United Kingdom
20,Los misteriosos moratones de Joana Sanz la esp...,null,13670,365,null
21,RT @bet365: With more than 1 la esposa de Dani...,Toronto Ontario,988,524,Toronto Ontario
22,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Gallipoli,62,1456,Gallipoli
23,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Gallipoli,62,1456,Gallipoli
24,I've created a swap request for my PANINI STIC...,qatar,52,2131,qatar
25,I've created a swap request for my PANINI DIGI...,qatar,52,2131,qatar
26,I've created a swap request for my PANINI DIGI...,qatar,52,2131,qatar
27,I've created a swap request for my PANINI STIC...,qatar,52,2131,qatar
28,I've created a swap request for my PANINI STIC...,qatar,52,2131,qatar
29,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,null,1572,1550,null
...,...,...,...,...,...
377,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""Wisconsin""",90,456,"""Wisconsin"""
378,"""Zinedine Zidane","""Boston""",55,427,"""Boston"""
379,"""@matteriders @forumJuventus Come con De Scigl...","""Cardiff""",22,754,"""Cardiff"""
380,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Paris Saint Germain""",141,245,"""Paris Saint Germain"""
381,"""@mterstegen1 hat seine f\u00fcnf Toptorh\u00f...",null,23,44,null
382,""".@mterstegen1 hat seine f\u00fcnf Toptorh\u00...",null,45,5,null
383,"""RT @fifaworldcup_de: @mterstegen1 hat seine f...",null,55,43,null
384,"""RT @fifaworldcup_de: @mterstegen1 hat seine f...",null,55,43,null
385,"""RT @fifaworldcup_de: .@mterstegen1 hat seine ...",null,55,43,null
386,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""Toronto\/Oakville""",242,2376,"""Toronto\/Oakville"""
387,"""@ChampionsLeague Gianluigi buffon""",null,67,3,null
388,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Chatou \/ Palaiseau""",1425,2,"""Chatou \/ Palaiseau"""
389,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...",null,1072,77015,null
390,"""\""I've unlimited admiration for Cristiano Ron...","""Leeds""",2,45,"""Leeds"""
391,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""Kendal""",2,54,"""Kendal"""
392,"""RT @Titimadness: Quand Lo Celso va faire tout...",null,31,677,null
393,"""RT @BramRizaldi: @Nerazzurri_Ale Kok menurut ...",null,48,1891,null
394,"""RT @EA_FIFA_France: De Gea","""London""",24,33,"""London"""
395,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Old Traford""",209,930,"""Old Traford"""
396,"""Alles klar. Kann ich nicht unterstreichen. Ab...",null,56,4,null
397,"""RT @FootbalIStuff: Lionel Messi &amp; Dani Alves",null,33,5,null
398,"""@brfootball Dani Alves""",null,87,59,null
399,"""Su influencia ofensiva es comparable a la de ...","""Zamora""",126,11,"""Zamora"""
400,"""Was hat Ederson da zu suchen? https:\/\/t.co\...","""Beijing""",66,23,"""Beijing"""
401,"""Dani Alves makes it 2-1 https:\/\/t.co\/rZbtH...",null,462,1670,null
402,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...",null,123,9196,null
403,"""\u0433\u0443\u0431\u0430 \u043d\u0435 \u0434\...","""Japan""",94,123,"""Japan"""
404,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Paris""",1187,234,"""Paris"""
405,"""@choc0game \u00c7a dep si on parle au jour d'...",null,678,43,null
406,"""For me the best GK I've seen on TV or live. I...",null,112,445,null

## 12.Write a function to calculate something relevant to your project.  Show that it works.

In [22]:
query='''
 SELECT MAX(favourites_count) FROM dataset2
 
'''
sql_to_df(query)

   MAX(favourites_count)
0                 147943

## 13.When two tables are joined in a relational database what is the resulting data structure?

In [41]:
dataset1=pd.read_csv('dataset1.csv')
#pd.io.sql.to_sql(dataset1,'dataset1', yconnect, schema='assign3')
dataset2=pd.read_csv('dataset2.csv')
#pd.io.sql.to_sql(dataset2,'dataset2', yconnect, schema='assign3')

In [42]:
dataset1.head()

,screen_name,Text,location
0,PlanetLiga,POL\u00c9MICA Dani Alves intenta convencer a R...,Espa\u00f1a
1,Huugoo90,Hasta parece que S\u00e1nchez es Dani Alves en...,null
2,OGCespSag,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Concepci\u00f3n - Yumbel
3,Barca_fanatica,Miss Dani so much :\/ https:\/\/t.co\/tkUE06Iw...,New York NY
4,ericperu,RT @RealEspartaB: \ud83c\udfcb\ufe0f \n\nEntre...,null

In [43]:
dataset2.head()

      screen_name followers_count  favourites_count
0      PlanetLiga           70196               111
1        Huugoo90             242              3376
2       OGCespSag            1586              5486
3  Barca_fanatica              60              9980
4        ericperu            1053             56821

In [46]:
query='''
SELECT text, location, followers_count, favourites_count
FROM dataset1
JOIN dataset2
ON dataset1.screen_name = dataset2.screen_name
'''
sql_to_df(query)

,text,location,followers_count,favourites_count
0,POL\u00c9MICA Dani Alves intenta convencer a R...,Espa\u00f1a,70196,111
1,Hasta parece que S\u00e1nchez es Dani Alves en...,null,242,3376
2,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Concepci\u00f3n - Yumbel,1586,5486
3,Miss Dani so much :\/ https:\/\/t.co\/tkUE06Iw...,New York NY,60,9980
4,RT @RealEspartaB: \ud83c\udfcb\ufe0f \n\nEntre...,null,1053,56821
5,Los misteriosos moratones de Joana Sanz la es...,null,14189,232
6,RT @OraliaOnetti: Sobre los precios de boletos...,Guadalajara Jalisco,799,2801
7,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Maracaibo-Venezuela,239,14644
8,Los misteriosos moratones de Joana Sanz la es...,Guayaquil Ecuador.,16745,221
9,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Brescia,73,1123
10,Okay how sick would it be if I had Luka Donci...,Sandy UT,830,796
11,Los misteriosos moratones de Joana Sanz la es...,null,13792,3
12,La respuesta de Pel\u00e9 a la burla de Dani A...,Espa\u00f1a,256360,24
13,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Salafiyah Kajen Pati - Undip,100,320
14,Los misteriosos moratones de Joana Sanz la es...,null,10566,224
15,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Indonesia,1280,104
16,Los misteriosos moratones de Joana Sanz la es...,null,9650,221
17,Dani Alves y David Luiz consuelan a James tras...,Contacto: tuitfutbol@gmail.com,99964,118
18,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Venezuela,1053,5
19,RT @bet365: With more than 1000 career appeara...,England United Kingdom,261,1311
20,Los misteriosos moratones de Joana Sanz la esp...,null,13670,365
21,RT @bet365: With more than 1 la esposa de Dani...,Toronto Ontario,988,524
22,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Gallipoli,62,1456
23,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,Gallipoli,62,1456
24,I've created a swap request for my PANINI STIC...,qatar,52,2131
25,I've created a swap request for my PANINI DIGI...,qatar,52,2131
26,I've created a swap request for my PANINI DIGI...,qatar,52,2131
27,I've created a swap request for my PANINI STIC...,qatar,52,2131
28,I've created a swap request for my PANINI STIC...,qatar,52,2131
29,RT @ChampionsLeague: Gianluigi Buffon's #UCL r...,null,1572,1550
...,...,...,...,...
377,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""Wisconsin""",90,456
378,"""Zinedine Zidane","""Boston""",55,427
379,"""@matteriders @forumJuventus Come con De Scigl...","""Cardiff""",22,754
380,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Paris Saint Germain""",141,245
381,"""@mterstegen1 hat seine f\u00fcnf Toptorh\u00f...",null,23,44
382,""".@mterstegen1 hat seine f\u00fcnf Toptorh\u00...",null,45,5
383,"""RT @fifaworldcup_de: @mterstegen1 hat seine f...",null,55,43
384,"""RT @fifaworldcup_de: @mterstegen1 hat seine f...",null,55,43
385,"""RT @fifaworldcup_de: .@mterstegen1 hat seine ...",null,55,43
386,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""Toronto\/Oakville""",242,2376
387,"""@ChampionsLeague Gianluigi buffon""",null,67,3
388,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Chatou \/ Palaiseau""",1425,2
389,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...",null,1072,77015
390,"""\""I've unlimited admiration for Cristiano Ron...","""Leeds""",2,45
391,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...","""Kendal""",2,54
392,"""RT @Titimadness: Quand Lo Celso va faire tout...",null,31,677
393,"""RT @BramRizaldi: @Nerazzurri_Ale Kok menurut ...",null,48,1891
394,"""RT @EA_FIFA_France: De Gea","""London""",24,33
395,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Old Traford""",209,930
396,"""Alles klar. Kann ich nicht unterstreichen. Ab...",null,56,4
397,"""RT @FootbalIStuff: Lionel Messi &amp; Dani Alves",null,33,5
398,"""@brfootball Dani Alves""",null,87,59
399,"""Su influencia ofensiva es comparable a la de ...","""Zamora""",126,11
400,"""Was hat Ederson da zu suchen? https:\/\/t.co\...","""Beijing""",66,23
401,"""Dani Alves makes it 2-1 https:\/\/t.co\/rZbtH...",null,462,1670
402,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...",null,123,9196
403,"""\u0433\u0443\u0431\u0430 \u043d\u0435 \u0434\...","""Japan""",94,123
404,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Paris""",1187,234
405,"""@choc0game \u00c7a dep si on parle au jour d'...",null,678,43
406,"""For me the best GK I've seen on TV or live. I...",null,112,445

## 14.Select and filter some data from a table created by a join.

In [50]:
query='''
SELECT text, location, followers_count, favourites_count
FROM dataset1
JOIN dataset2
ON dataset1.screen_name = dataset2.screen_name
WHERE favourites_count >70000
'''

sql_to_df(query)

,text,location,followers_count,favourites_count
0,"""RT @Titimadness: Quand Lo Celso va faire tout...","""Paris""",3696,147943
1,"""RT @ChampionsLeague: Gianluigi Buffon's #UCL ...",null,1072,77015

## 15.Why not put all the data in one big table and avoid all of these joins?

#####  Because spilit tables would make the database more efficient. Besides, it also more easily to satisfied to three norm forms requirements.

## 16.Why create views?

##### Views can hide the logical complexity of datasets. View can make dataset to be more a security mechanism.  Besides, view can simplify supporting legacy code.

## 17.Select and filter some data from a table created by a view.

In [71]:
#create a view named v_dataset2
#query='''
# CREATE VIEW v_dataset2
# AS
#    SELECT screen_name, followers_count FROM dataset2
#    WHERE followers_count >1000

# '''
# sql_to_df(query)

In [72]:
query='''
SELECT  * FROM v_dataset2
WHERE followers_count>10000
'''
sql_to_df(query)

          screen_name followers_count
0          PlanetLiga           70196
1        Mundo_Sports           14189
2        Mundo_Emelec           16745
3       Prensa_Emelec           13792
4      Futbol_Espanol          256360
5     Todoscon_Emelec           10566
6       ChampionsLnet           99964
7     LosDeSiempreCSE           13670
8          BDP_emelec           34718
9          Futbol__MX           19888
10            muujiro           10223
11      Neymar__Crack           23922
12     footballitalia          166014
13       LaLiga_aldia           10819
14         FatMat91HD           81148
15          bet365_es          113925
16  "fifaworldcup_de"          567567
17       "elmonarac1"          243357
18   "JackMogoswanej"           65567
19         "4pp87718"          567567
20            487718"           57567
21       "afellay_93"           32434
22      "evilbitchlu"           89874
23        "JoanFcb29"          565763
24         "uk831495"           65787
25         "ppp24544"         4645675
26  "Youssef43873038"           54654
27        "98_Trunks"          767632
28          "GiPix73"           44452
29       "pierrethev"         4554542
30     "yassgrosmort"           32443
31       "LeVraiLeal"          223532
32     "Valentin_Goy"           24567
33              "008"           24324
34             72848"           32423
35            "queen"           24324

## 18.Why create temporary tables?

######  Temporary table allows users to store a temporary result set, which users can reuse several times in a single session. A temporary table is very handy when it is impossible or expensive to query data that requires a single SELECT statement with JOIN clauses. In this case, you can use a temporary table to store the immediate result and use another query to process it.

## 19.Select and filter some data from a table created by a temporary table.

In [119]:
dataset2

           screen_name followers_count  favourites_count
0           PlanetLiga           70196               111
1             Huugoo90             242              3376
2            OGCespSag            1586              5486
3       Barca_fanatica              60              9980
4             ericperu            1053             56821
5         Mundo_Sports           14189               232
6           JosesilloV             799              2801
7            cheobravo             239             14644
8         Mundo_Emelec           16745               221
9      AnnibaleMicheli              73              1123
10          tiffftripp             830               796
11       Prensa_Emelec           13792                 3
12      Futbol_Espanol          256360                24
13     moeslich_sahoed             100               320
14     Todoscon_Emelec           10566               224
15          JamalHabsy            1280               104
16          Web Emelec            9650               221
17       ChampionsLnet           99964               118
18        Nina_SB_Yone            1053                 5
19              BI1897             261              1311
20     LosDeSiempreCSE           13670               365
21      MonicaLauriola             988               524
22        FrankJRonald              62              1456
23            67Sherif              52              2131
24             lintu95            1572              1550
25          samaseto8f             105                66
26        FrankJRonald              62               225
27          BDP_emelec           34718               231
28           AleTznMC8             390              2189
29           aifosatir            2261               157
..                 ...             ...               ...
342      "dominospace"              78                 5
343  "mhmmdnrhdyt_104"              90               456
344            "wizzk"              55               427
345             "show"              22               754
346    "JibrilAkimZer"             141               245
347             "wait"              23                44
348           "GO1111"              45                 5
349       "fifacom_de"              55                43
350         "progatzz"             242              2376
351            "ho_qq"              67                 3
352          "JdNyemb"            1425                 2
353    "IzadinTarzi19"            1072             77015
354          "6_qasde"               2                45
355         "pawcksn_"               2                54
356     "ElflacoHamza"              31               677
357                NaN              23                 2
358           "Toejex"              48              1891
359     "sklhksjgcsbx"              24                33
360         "Abel_SSJ"             209               930
361        "qqjsjdywz"              56                 4
362            "go_py"              33                 5
363          "yo_hoho"              87                59
364    "Kaneda_Alonso"             126                11
365           "yes_97"              66                23
366      "soccer0vine"             462              1670
367  "abdulkarimbaba8"             123              9196
368        "yooho_tee"              94               123
369           "mimsxl"            1187               234
370          "chinres"             678                43
371          "DG_keen"             112               445

[372 rows x 3 columns]

In [120]:
query='''
CREATE TEMPORARY TABLE test_dataset_again(
 screen_name VARCHAR(50) NOT NULL,
 followers_count INT(20) NOT NULL,
 favourites_count INT(20) NOT NULL
);
'''
try:
    sql_to_df(query)
except:
       print("temporary table has been successfully built")

temporary table has been successfully built

In [127]:
query='''
INSERT INTO test_dataset_again(screen_name,followers_count,favourites_count)
VALUES('serena',100,100)

'''
try:
    sql_to_df(query)
except:
       print("data has been inserted already")

data has been inserted already

In [128]:
query='''
SELECT * FROM test_dataset_again 
WHERE screen_name LIKE 'serena'
'''
sql_to_df(query)

  screen_name  followers_count  favourites_count
0      serena              100               100

## 20.Insert some data in to a table.

In [107]:
query='''
INSERT INTO dataset2(screen_name,followers_count,favourites_count)
VALUES('serena',100,100)

'''
try:
    sql_to_df(query)
except:
       print("Hi")

Hi

In [108]:
query='''
SELECT * FROM dataset2
'''
sql_to_df(query)

     index        screen_name followers_count  favourites_count
0      0.0         PlanetLiga           70196               111
1      1.0           Huugoo90             242              3376
2      2.0          OGCespSag            1586              5486
3      3.0     Barca_fanatica              60              9980
4      4.0           ericperu            1053             56821
5      5.0       Mundo_Sports           14189               232
6      6.0         JosesilloV             799              2801
7      7.0          cheobravo             239             14644
8      8.0       Mundo_Emelec           16745               221
9      9.0    AnnibaleMicheli              73              1123
10    10.0         tiffftripp             830               796
11    11.0      Prensa_Emelec           13792                 3
12    12.0     Futbol_Espanol          256360                24
13    13.0    moeslich_sahoed             100               320
14    14.0    Todoscon_Emelec           10566               224
15    15.0         JamalHabsy            1280               104
16    16.0         Web Emelec            9650               221
17    17.0      ChampionsLnet           99964               118
18    18.0       Nina_SB_Yone            1053                 5
19    19.0             BI1897             261              1311
20    20.0    LosDeSiempreCSE           13670               365
21    21.0     MonicaLauriola             988               524
22    22.0       FrankJRonald              62              1456
23    23.0           67Sherif              52              2131
24    24.0            lintu95            1572              1550
25    25.0         samaseto8f             105                66
26    26.0       FrankJRonald              62               225
27    27.0         BDP_emelec           34718               231
28    28.0          AleTznMC8             390              2189
29    29.0          aifosatir            2261               157
..     ...                ...             ...               ...
351  351.0            "ho_qq"              67                 3
352  352.0          "JdNyemb"            1425                 2
353  353.0    "IzadinTarzi19"            1072             77015
354  354.0          "6_qasde"               2                45
355  355.0         "pawcksn_"               2                54
356  356.0     "ElflacoHamza"              31               677
357  357.0               None              23                 2
358  358.0           "Toejex"              48              1891
359  359.0     "sklhksjgcsbx"              24                33
360  360.0         "Abel_SSJ"             209               930
361  361.0        "qqjsjdywz"              56                 4
362  362.0            "go_py"              33                 5
363  363.0          "yo_hoho"              87                59
364  364.0    "Kaneda_Alonso"             126                11
365  365.0           "yes_97"              66                23
366  366.0      "soccer0vine"             462              1670
367  367.0  "abdulkarimbaba8"             123              9196
368  368.0        "yooho_tee"              94               123
369  369.0           "mimsxl"            1187               234
370  370.0          "chinres"             678                43
371  371.0          "DG_keen"             112               445
372    NaN             serena             100               100
373    NaN             serena             100               100
374    NaN             serena             100               100
375    NaN             serena             100               100
376    NaN             serena             100               100
377    NaN             serena             100               100
378    NaN             serena             100               100
379    NaN             serena             100               100
380    NaN             serena             100               100

[381 rows x 4 columns]


## 21. Update some data in a table.

In [115]:
query='''
UPDATE dataset2
SET screen_name = 'Yuechen_Zhao'
WHERE screen_name='serena'

'''
try:
    sql_to_df(query)
except:
       print("Your data has been successfully updated")

Your data has been successfully updated

In [116]:
query='''
SELECT * FROM dataset2

'''
sql_to_df(query)

     index        screen_name followers_count  favourites_count
0      0.0         PlanetLiga           70196               111
1      1.0           Huugoo90             242              3376
2      2.0          OGCespSag            1586              5486
3      3.0     Barca_fanatica              60              9980
4      4.0           ericperu            1053             56821
5      5.0       Mundo_Sports           14189               232
6      6.0         JosesilloV             799              2801
7      7.0          cheobravo             239             14644
8      8.0       Mundo_Emelec           16745               221
9      9.0    AnnibaleMicheli              73              1123
10    10.0         tiffftripp             830               796
11    11.0      Prensa_Emelec           13792                 3
12    12.0     Futbol_Espanol          256360                24
13    13.0    moeslich_sahoed             100               320
14    14.0    Todoscon_Emelec           10566               224
15    15.0         JamalHabsy            1280               104
16    16.0         Web Emelec            9650               221
17    17.0      ChampionsLnet           99964               118
18    18.0       Nina_SB_Yone            1053                 5
19    19.0             BI1897             261              1311
20    20.0    LosDeSiempreCSE           13670               365
21    21.0     MonicaLauriola             988               524
22    22.0       FrankJRonald              62              1456
23    23.0           67Sherif              52              2131
24    24.0            lintu95            1572              1550
25    25.0         samaseto8f             105                66
26    26.0       FrankJRonald              62               225
27    27.0         BDP_emelec           34718               231
28    28.0          AleTznMC8             390              2189
29    29.0          aifosatir            2261               157
..     ...                ...             ...               ...
351  351.0            "ho_qq"              67                 3
352  352.0          "JdNyemb"            1425                 2
353  353.0    "IzadinTarzi19"            1072             77015
354  354.0          "6_qasde"               2                45
355  355.0         "pawcksn_"               2                54
356  356.0     "ElflacoHamza"              31               677
357  357.0               None              23                 2
358  358.0           "Toejex"              48              1891
359  359.0     "sklhksjgcsbx"              24                33
360  360.0         "Abel_SSJ"             209               930
361  361.0        "qqjsjdywz"              56                 4
362  362.0            "go_py"              33                 5
363  363.0          "yo_hoho"              87                59
364  364.0    "Kaneda_Alonso"             126                11
365  365.0           "yes_97"              66                23
366  366.0      "soccer0vine"             462              1670
367  367.0  "abdulkarimbaba8"             123              9196
368  368.0        "yooho_tee"              94               123
369  369.0           "mimsxl"            1187               234
370  370.0          "chinres"             678                43
371  371.0          "DG_keen"             112               445
372    NaN       Yuechen_Zhao             100               100
373    NaN       Yuechen_Zhao             100               100
374    NaN       Yuechen_Zhao             100               100
375    NaN       Yuechen_Zhao             100               100
376    NaN       Yuechen_Zhao             100               100
377    NaN       Yuechen_Zhao             100               100
378    NaN       Yuechen_Zhao             100               100
379    NaN       Yuechen_Zhao             100               100
380    NaN       Yuechen_Zhao             100               100

[381 rows x 4 columns]

## 22. Delete some data a table.

In [117]:
query='''
DELETE FROM dataset2
WHERE screen_name='Yuechen_Zhao'
'''
try:
    sql_to_df(query)
except:
       print("Your data has been successfully deleted")

Your data has been successfully deleted

In [118]:
query='''
SELECT * FROM dataset2
'''
sql_to_df(query)

     index        screen_name followers_count  favourites_count
0        0         PlanetLiga           70196               111
1        1           Huugoo90             242              3376
2        2          OGCespSag            1586              5486
3        3     Barca_fanatica              60              9980
4        4           ericperu            1053             56821
5        5       Mundo_Sports           14189               232
6        6         JosesilloV             799              2801
7        7          cheobravo             239             14644
8        8       Mundo_Emelec           16745               221
9        9    AnnibaleMicheli              73              1123
10      10         tiffftripp             830               796
11      11      Prensa_Emelec           13792                 3
12      12     Futbol_Espanol          256360                24
13      13    moeslich_sahoed             100               320
14      14    Todoscon_Emelec           10566               224
15      15         JamalHabsy            1280               104
16      16         Web Emelec            9650               221
17      17      ChampionsLnet           99964               118
18      18       Nina_SB_Yone            1053                 5
19      19             BI1897             261              1311
20      20    LosDeSiempreCSE           13670               365
21      21     MonicaLauriola             988               524
22      22       FrankJRonald              62              1456
23      23           67Sherif              52              2131
24      24            lintu95            1572              1550
25      25         samaseto8f             105                66
26      26       FrankJRonald              62               225
27      27         BDP_emelec           34718               231
28      28          AleTznMC8             390              2189
29      29          aifosatir            2261               157
..     ...                ...             ...               ...
342    342      "dominospace"              78                 5
343    343  "mhmmdnrhdyt_104"              90               456
344    344            "wizzk"              55               427
345    345             "show"              22               754
346    346    "JibrilAkimZer"             141               245
347    347             "wait"              23                44
348    348           "GO1111"              45                 5
349    349       "fifacom_de"              55                43
350    350         "progatzz"             242              2376
351    351            "ho_qq"              67                 3
352    352          "JdNyemb"            1425                 2
353    353    "IzadinTarzi19"            1072             77015
354    354          "6_qasde"               2                45
355    355         "pawcksn_"               2                54
356    356     "ElflacoHamza"              31               677
357    357               None              23                 2
358    358           "Toejex"              48              1891
359    359     "sklhksjgcsbx"              24                33
360    360         "Abel_SSJ"             209               930
361    361        "qqjsjdywz"              56                 4
362    362            "go_py"              33                 5
363    363          "yo_hoho"              87                59
364    364    "Kaneda_Alonso"             126                11
365    365           "yes_97"              66                23
366    366      "soccer0vine"             462              1670
367    367  "abdulkarimbaba8"             123              9196
368    368        "yooho_tee"              94               123
369    369           "mimsxl"            1187               234
370    370          "chinres"             678                43
371    371          "DG_keen"             112               445

[372 rows x 4 columns]

## 23. Create a  stored routine that does something useful for your project.

In [54]:
query='''
CREATE FUNCTION func4(num int)
returns int
BEGIN
SELECT count(*) INTO @result FROM dataset2
WHERE followers_count >num;
return @result;
END;
'''
try:
    sql_to_df(query)
except:
       print("Your function has been successfully created")

Your function has been successfully created

In [55]:
query='''
SELECT func4(20000);
'''
sql_to_df(query)

   func4(20000)
0            28

## 24. Create a  stored procedures that does something useful for your project.

In [33]:
query='''
CREATE PROCEDURE test()
BEGIN
SET @followers_count := 2;
SELECT * FROM dataset2
WHERE followers_count=@followers_count;
END
'''
try:
    sql_to_df(query)
except:
       print("Your procedure has been successfully built")

Your procedure has been successfully built

In [35]:
query='''
CALL test()
'''
sql_to_df(query)

   index screen_name followers_count  favourites_count
0    354   "6_qasde"               2                45
1    355  "pawcksn_"               2                54

## 25.  Create a index on a non-key attribute. Does it help?

## 26.Create a trigger.

In [165]:
query='''
CREATE TABLE test_table(
 screen_name VARCHAR(50) NOT NULL,
 followers_count INT(20) NOT NULL,
 favourites_count INT(20) NOT NULL,
 friends_count INT(20) NOT NULL
);
'''
try:
    sql_to_df(query)
except:
       print("Your table has been successfully deleted")

Your table has been successfully deleted

In [36]:
#query='''
#CREATE trigger test_new BEFORE INSERT ON test_table
#FOR EACH ROW
#BEGIN
#SET new.friends_count = new.followers_count *  new.favourites_count;
#END;

#'''

#try:
#    sql_to_df(query)
#except:
#       print("Your table has been successfully CREATED trigger")

In [178]:
query='''
INSERT INTO test_table(screen_name,followers_count,favourites_count,friends_count)
VALUES('serena',2,2,100)

'''
try:
    sql_to_df(query)
except:
       print("data has been inserted already")

data has been inserted already

In [179]:
query='''
SELECT * FROM test_table
'''
sql_to_df(query)

  screen_name  followers_count  favourites_count  friends_count
0      serena                2                 2            100
1      serena                2                 2            100
2      serena                2                 2              4

## 27. Create a transaction.

In [169]:
query='''
SELECT * FROM dataset2
'''
sql_to_df(query)

     index        screen_name followers_count  favourites_count
0      0.0         PlanetLiga           70196               111
1      1.0           Huugoo90             242              3376
2      2.0          OGCespSag            1586              5486
3      3.0     Barca_fanatica              60              9980
4      4.0           ericperu            1053             56821
5      5.0       Mundo_Sports           14189               232
6      6.0         JosesilloV             799              2801
7      7.0          cheobravo             239             14644
8      8.0       Mundo_Emelec           16745               221
9      9.0    AnnibaleMicheli              73              1123
10    10.0         tiffftripp             830               796
11    11.0      Prensa_Emelec           13792                 3
12    12.0     Futbol_Espanol          256360                24
13    13.0    moeslich_sahoed             100               320
14    14.0    Todoscon_Emelec           10566               224
15    15.0         JamalHabsy            1280               104
16    16.0         Web Emelec            9650               221
17    17.0      ChampionsLnet           99964               118
18    18.0       Nina_SB_Yone            1053                 5
19    19.0             BI1897             261              1311
20    20.0    LosDeSiempreCSE           13670               365
21    21.0     MonicaLauriola             988               524
22    22.0       FrankJRonald              62              1456
23    23.0           67Sherif              52              2131
24    24.0            lintu95            1572              1550
25    25.0         samaseto8f             105                66
26    26.0       FrankJRonald              62               225
27    27.0         BDP_emelec           34718               231
28    28.0          AleTznMC8             390              2189
29    29.0          aifosatir            2261               157
..     ...                ...             ...               ...
343  343.0  "mhmmdnrhdyt_104"              90               456
344  344.0            "wizzk"              55               427
345  345.0             "show"              22               754
346  346.0    "JibrilAkimZer"             141               245
347  347.0             "wait"              23                44
348  348.0           "GO1111"              45                 5
349  349.0       "fifacom_de"              55                43
350  350.0         "progatzz"             242              2376
351  351.0            "ho_qq"              67                 3
352  352.0          "JdNyemb"            1425                 2
353  353.0    "IzadinTarzi19"            1072             77015
354  354.0          "6_qasde"               2                45
355  355.0         "pawcksn_"               2                54
356  356.0     "ElflacoHamza"              31               677
357  357.0               None              23                 2
358  358.0           "Toejex"              48              1891
359  359.0     "sklhksjgcsbx"              24                33
360  360.0         "Abel_SSJ"             209               930
361  361.0        "qqjsjdywz"              56                 4
362  362.0            "go_py"              33                 5
363  363.0          "yo_hoho"              87                59
364  364.0    "Kaneda_Alonso"             126                11
365  365.0           "yes_97"              66                23
366  366.0      "soccer0vine"             462              1670
367  367.0  "abdulkarimbaba8"             123              9196
368  368.0        "yooho_tee"              94               123
369  369.0           "mimsxl"            1187               234
370  370.0          "chinres"             678                43
371  371.0          "DG_keen"             112               445
372    NaN             serena             100               100

[373 rows x 4 columns]

In [174]:
query='''
START TRANSACTION
SELECT creen_name, followers_count FROM dataset2

UPDATE dataset2 as d2
set d2.followers_count= (d2.followers_count*2);

SELECT screen_name, followers_count FROM dataset2;
ROLLBACK;

'''
sql_to_df(query)

DatabaseError: Execution failed on sql '
START TRANSACTION
SELECT creen_name, followers_count FROM dataset2

UPDATE dataset2 as d2
set d2.followers_count= (d2.followers_count*2);

SELECT screen_name, followers_count FROM dataset2;
ROLLBACK;

': (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT creen_name, followers_count FROM dataset2\n\nUPDATE dataset2 as d2\nset d2.f' at line 2")

### 28 Explain to an eight year old (i.e. your professor) what are the first  three Normal Forms. (10 points)

#### 1st normal form: elminate duplicative columns from the same table. Besides, create seperate tables for each group of related table  data and identify each row with a unique column. 2nd normal form: Meet the requirement of the 1st normal form. Besides,  create relationships between these new tables and their predecessors through the use of foreign keys. 3nd normal form: Already meet the requirements of both 1NF and 2NF. Remove columns that are not fully dependent upon the primary key.