In [325]:
%matplotlib inline
import pymongo
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
from bson import json_util, ObjectId
import pandas as pd
from pandas import DataFrame
from pandas.io.json import json_normalize
import numpy as np
import requests
import json, os
import configparser
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import warnings
import random
import pprint
from datetime import datetime
random.seed(datetime.now())
warnings.filterwarnings('ignore')
import csv

# Make plots larger
plt.rcParams['figure.figsize'] = (10, 6)

In [326]:
import bson.regex
from bson.regex import Regex

In [329]:
for name in database.tags_collection.find({"time":{"$regex":u"2/27/18"}}):
    pprint.pprint(name)

In [317]:
mongodb_host = 'localhost'
mongodb_port = '27017'
client = MongoClient(mongodb_host +':'+ mongodb_port)
database = client['mongo']
print (database)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mongo')

In [330]:
#CSV to JSON Conversion
csvfile = open('tag.csv','r')
reader = csv.DictReader(csvfile)
mongo_client=MongoClient() 
db=mongo_client.database
collection=db.collection
db.segment.drop()
header= [ 'name', 'time','text','user_name']

for each in reader:
    row={}
    for field in header:
        row[field]=each[field]

    db.segment.insert_one(row)

In [331]:
def load_csv(csv):
    p=os.path.join("/Users/luoyichen/Desktop/", csv)
    print (p)
    data=pd.read_csv(p, encoding = "ISO-8859-1", engine='python')
    return data

In [332]:
tweets_csv=load_csv('tag.csv')
tweets_csv.head()

/Users/luoyichen/Desktop/tag.csv

,id,name,time,text,user_name
0,1,Sushi bar,2/27/18 23:53,"b""Brought grocery store sushi to the bar but n...",braceandshock
1,2,Sushi bar,2/27/18 23:40,"b""I'm at Takara Japanese Steakhouse &amp; Sush...",IrepdaK
2,3,Sushi bar,2/27/18 23:14,b'@kailah_casillas \xf0\x9f\x98\xab\xf0\x9f\x9...,ReyesMichelle95
3,4,Sushi bar,2/27/18 23:01,b'Whenever I see shit like the sushi burrito a...,nimamo714
4,5,Sushi bar,2/27/18 22:55,b'RT @eaterpdx: Mio Sushi checks out of Hollyw...,NickyFaceBoyBoy

In [333]:
database.create_collection("tagtwitter")

CollectionInvalid: collection tagtwitter already exists

In [334]:

database.collection_names(include_system_collections=False)

['tags_collection1', 'tagtwitter', 'tags_collection', 'tag', 'tags']

In [335]:
csvfile = open('tag.csv','r')
reader = csv.DictReader(csvfile)
mongo_client=MongoClient() 

collection=database.tagtwitter
database.segment.drop()
header= [ 'name', 'time','text','user_name']

for each in reader:
    row={}
    for field in header:
        row[field]=each[field]

    database.tags_collection.insert_one(row)

In [323]:
database.tags_collection.count( { 'id': { '$gt': '1' } } )

4

In [336]:
for post in database.tags_collection.aggregate([{'$group':{'_id':'$name','count':{'$sum':1}}}]):
    print(post)

{'_id': 'burger bar', 'count': 9108}
{'_id': 'secret pizza', 'count': 5550}
{'_id': 'Oyster Bar', 'count': 3330}
{'_id': 'pizza rock', 'count': 3210}
{'_id': 'Sushi bar', 'count': 6016}

In [307]:
for post in database.tags_collection.aggregate([
    {'$group':{'_id':'$name','count':{'$sum':1}}}
     ]):
    print(post)

SyntaxError: invalid syntax (<ipython-input-307-1b823423f57f>, line 3)

AttributeError: 'str' object has no attribute '_client'