In [157]:
%matplotlib inline
import pymongo
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
from bson import json_util, ObjectId
import pandas as pd
from pandas import DataFrame
from pandas.io.json import json_normalize
import numpy as np
import requests
import json, os
import configparser
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import warnings
import random
import pprint
from datetime import datetime
random.seed(datetime.now())
warnings.filterwarnings('ignore')
import csv

# Make plots larger
plt.rcParams['figure.figsize'] = (10, 6)

In [158]:
mongodb_host = 'localhost'
mongodb_port = '27017'
client = MongoClient(mongodb_host +':'+ mongodb_port)
database = client['mongo']
print (database)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mongo')

In [97]:
#CSV to JSON Conversion
csvfile = open('tag.csv','r')
reader = csv.DictReader(csvfile)
mongo_client=MongoClient() 
db=mongo_client.database
db.segment.drop()
header= [ 'name', 'time','text','user_name']

for each in reader:
    row={}
    for field in header:
        row[field]=each[field]

    db.segment.insert_one(row)

In [89]:
use('tag.csv');

db.tag.aggregate(
    [
        { 
            "$group" : {
                "_id" : {
                    "name" : "$name"
                }, 
                "COUNT(*)" : {
                    "$sum" : NumberInt(1)
                }
            }
        }, 
        { 
            "$project" : {
                "_id" : NumberInt(0), 
                "name" : "$_id.name", 
                "COUNT(*)" : "$COUNT(*)"
            }
        }
    ]
);

NameError: name 'use' is not defined

In [111]:
use('tag.csv');
db.tag.find(
    { 
        "time" : /^.*02-27.*$/i
    }
);

SyntaxError: invalid syntax (<ipython-input-111-942f071286eb>, line 4)

In [112]:
use (Tag1D);
db.Tag1D.aggregate(
    [
        { 
            "$group" : {
                "_id" : {
                    "name" : "$name"
                }, 
                "COUNT(*)" : {
                    "$sum" : NumberInt(1)
                }
            }
        }, 
        { 
            "$project" : {
                "_id" : NumberInt(0), 
                "name" : "$_id.name", 
                "COUNT(*)" : "$COUNT(*)"
            }
        }
    ]
);

NameError: name 'use' is not defined

In [159]:
def load_csv(csv):
    p=os.path.join("/Users/luoyichen/Desktop/", csv)
    print (p)
    data=pd.read_csv(p, encoding = "ISO-8859-1", engine='python')
    return data

In [160]:
tweets_csv=load_csv('tag.csv')
tweets_csv.head()

/Users/luoyichen/Desktop/tag.csv

,id,name,time,text,user_name
0,1,Sushi bar,2/27/18 23:53,"b""Brought grocery store sushi to the bar but n...",braceandshock
1,2,Sushi bar,2/27/18 23:40,"b""I'm at Takara Japanese Steakhouse &amp; Sush...",IrepdaK
2,3,Sushi bar,2/27/18 23:14,b'@kailah_casillas \xf0\x9f\x98\xab\xf0\x9f\x9...,ReyesMichelle95
3,4,Sushi bar,2/27/18 23:01,b'Whenever I see shit like the sushi burrito a...,nimamo714
4,5,Sushi bar,2/27/18 22:55,b'RT @eaterpdx: Mio Sushi checks out of Hollyw...,NickyFaceBoyBoy

In [150]:
database.create_collection("tags_collection")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mongo'), 'tags_collection')

In [143]:
result = database.tag.insert_many([{
    "id" : "1",
    "name" : "Sushi bar",
},
{
    "id" : "2",
    "name" : "Sushi bar",
}])

In [174]:
#use database

show databases

SyntaxError: invalid syntax (<ipython-input-174-3de4cb5c50be>, line 3)

In [175]:
database.collection_names(include_system_collections=False)

['segment', 'tag', 'tags_collection', 'tags']

In [183]:
database.tags_collection.insert_many([{
    "id" : "100",
    "name" : "Sushi bar",
},
{
    "id" : "102",
    "name" : "Sushi bar",
}])

In [184]:
for name in database.tags.find({"name" : "Sushi bar"}):
    pprint.pprint(name)

{'_id': ObjectId('5ac7c3dccb47d685580e1326'), 'id': '100', 'name': 'Sushi bar'}
{'_id': ObjectId('5ac7c3dccb47d685580e1327'), 'id': '102', 'name': 'Sushi bar'}

In [164]:
result = database.tags_collection.find({"id" : "1"})
pprint.pprint (result)

<pymongo.cursor.Cursor object at 0x116e6f518>

In [113]:
#use('tag.csv');
db.tag.find(
    { 
        "time" : /^.*02-27.*$/i
    }
);

SyntaxError: invalid syntax (<ipython-input-113-7542e70acf51>, line 4)

In [110]:
#use tag;

db.tag.aggregate(
    [
        { 
            "$group" : {
                "_id" : {
                    "name" : "$name"
                }, 
                "COUNT(*)" : {
                    "$sum" : NumberInt(1)
                }
            }
        }, 
        { 
            "$project" : {
                "_id" : NumberInt(0), 
                "name" : "$_id.name", 
                "COUNT(*)" : "$COUNT(*)"
            }
        }
    ]
);

NameError: name 'NumberInt' is not defined